.booking-list {
  margin: 0 auto;
}

.no-schedule-message {
  text-align: center;
  font-size: 16px;
  color: var(--text-secondary);
  padding: 15px;
}

// search
.booking-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.search-input {
  width: 300px;
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

// ds lịch
.schedule-list {
  list-style: none;
  max-height: 570px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin: 10px 20px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    width: 150px;
  }

  th {
    background-color: var(--color-table);
    font-weight: bold;
    text-align: center;
    color: var(--color-white);
  }

  td:last-child,
  th:last-child {
    width: 50px;
    text-align: center; 
  } 

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tbody tr:hover {
    background-color: #e6f7ff;
  }
}

.actions {
  display: flex;
  align-items: center;
  cursor: pointer;
}

// button
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;

  label {
    color: var(--text-secondary);
    margin: 0;
  }
}
