.approval-authority {
  padding: 20px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

// filter
.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

.filter-item {
  display: flex;
  flex-direction: column;
}

.filter-item label {
  margin-bottom: 4px;
  font-weight: 600;
}

.filter-item select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

// table
.room-list {
  width: 100%;
  margin-top: 10px;
  overflow-y: auto;
  max-height: 510px;
  border: 1px solid var(--border-color);
}

.room-table {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 8px;
    text-align: left;
    border: 1px solid var(--border-color);
    width: 200px;
    // cursor: pointer;
  }

  tbody tr:hover {
    background-color: var(--table-hover);
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 70px;
    text-align: right;
  }

  td:first-child,
  th:first-child {
    width: 10px;
    text-align: center;
  }

  td:last-child,
  th:last-child {
    width: 100px;
    text-align: right;
  }
}
