.room-detail-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// Phần header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--color-white);
}

.back-button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-primary);
  cursor: pointer;
}

/* Phần nội dung phòng họp */
.room-content {
  width: 80%;
  flex: 1;
  margin: 20px auto;
  background-color: rgb(160, 201, 201);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.room-info-container {
  display: flex;
  background: var(--color-white);
  padding: 20px;
  gap: 100px;
  height: 100%;
}

/* Hình ảnh phòng họp */
.room-image {
  flex: 1;
  max-width: 350px;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
}

/* Phần thông tin */
.room-info {
  flex: 2;
  width: 100%;
}

.room-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .room-title {
    font-size: 24px;
    font-weight: 600;
  }

  .btn-edit {
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
}

.room-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-details {
  p {
    font-size: 16px;
    margin: 5px 0;
  }
  strong {
    font-weight: 600;
    color: var(--text-primary);
  }
}

// Danh sách thiết bị
.device-details {
  font-size: 14px;
  color: var(--text-primary);
  padding-left: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  max-height: 290px;
  overflow-y: auto;
}

.device-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.device-name {
  flex: 1;
  font-weight: 400;
}

.device-quantity {
  text-align: right;
  min-width: 50px;
}

.room-schedule-container {
  flex: 1;
}

// model edit
.btn-edit {
  cursor: pointer;
  display: inline-block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-content {
  background: var(--color-white);
  padding: 30px 20px;
  border-radius: 10px;
  position: relative;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: slideDown 0.3s ease-out;
}

.btn-save {
  background: var(--btn-main);
  color: var(--color-white);
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  width: 20%;
  align-self: flex-end;

  &:hover {
    background: var(--btn-hover);
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--color-error);
}

// modal add device
.device-table-container {
  margin-top: 1rem;
  overflow-y: auto;
  max-height: 400px;
}

.device-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  min-width: 300px;
}

.device-table th,
.device-table td {
  border: 1px solid #ddd;
  padding: 5px 10px;
  text-align: left;
}

.device-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.device-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.device-table tr:hover {
  background-color: #eef;
}

.device-table input[type="number"] {
  width: 80px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
