.booking-list {
  margin: 0 auto;
}

.no-schedule-message {
  text-align: center;
  font-size: 16px;
  color: var(--text-secondary);
  padding: 15px;
}

// search
.booking-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  padding: 10px 20px;
  background: #353231;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.device {
  height: 50px;
  width: 1px;
  background: var(--border-color);
}

.search-input {
  width: 300px;
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.search-row {
  display: flex;
  gap: 15px;
  align-items: center;

  label {
    color: var(--color-white);
  }
}

// ds lịch
.schedule-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.schedule-card {
  background: var(--color-white);
  padding: 7px 10px;
  border: 1px solid var(--border-color);
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.card-content {
  h3 {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-primary);
  }
  p {
    font-size: 14px;
    color: var(--text-secondary);
  }
}

.schedule-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 450;
}

.left-info,
.center-info {
  flex: 1;
}

.left-info {
  text-align: left;
  display: flex;
  gap: 5px;
}

.center-info {
  text-align: left;
}

.right-info {
  text-align: right;
}

// button
.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  label {
    color: var(--text-secondary);
    margin: 0;
  }
}
