.approved-list {
  margin: 0 auto;
}

.no-schedule-message {
  text-align: center;
  font-size: 16px;
  color: var(--text-secondary);
  padding: 15px;
}

// search
.approve-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  padding: 10px 20px;
  background: var(--color-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #353231;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.search-input {
  width: 300px;
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.search-row {
  display: flex;
  gap: 15px;
  align-items: center;

  label {
    color: var(--color-white);
  }
}

// ds lịch
.schedule-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.schedule-card {
  background: var(--color-white);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #007bff; 
}


.card-content {
  h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
    margin: 5px 0;
    color: var(--text-secondary);
  }
}

.schedule-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-info,
.center-info,
.right-info {
  flex: 1;
}

.center-info {
  text-align: left;
  font-weight: bold;
}

.right-info {
  text-align: right;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.btn-action {
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.details-btn {
  background-color: var(--btn-main);
  &:hover {
    background-color: #0056b3;
  }
}