.booking-container {
  margin: 0 auto;
}

// search
.booking-header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 15px 25px;
  width: 100%;
  transition: all 0.3s ease;
  background: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h3 {
    margin-bottom: 12px;
    color: var(--color-dark);
  }
}

.search {
  display: flex;
  gap: 20px;
  align-items: center;
  transition: all 0.3s ease;

  label {
    font-size: 14px;
    color: var(--text-primary);
  }
}

.filters {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
}

.filter-item {
  flex: 1; 
  min-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    font-size: 14px;
    color: var(--text-primary);
  }

  input, select {
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
  }
}

.search-button {
  width: 100px;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-white);
  background: var(--btn-main);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 27px;
}

// room list
.room-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 10px 25px;
}

.room-list-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
}

.room-list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 22px; 
    font-weight: 500;
    color: var(--text-primary);
    margin: 10;
    margin-bottom: 10px;
  }
}

.view-all {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: var(--text-secondary);
  cursor: pointer;

  &:hover {
    color: var(--bg-active);
  }
}
