.overview-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-container {
  display: flex;
  gap: 25px;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.datePicker {
  border: 1px solid var(--border-color);
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.actionButtons {
  display: flex;
  gap: 10px;
}

.actionButtons button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-main);
  color: var(--color-white);
  cursor: pointer;
  transition: background 0.3s ease;
}

.actionButtons button:hover {
  background-color: var(--btn-hover);
}

// Lịch theo tuần
.no-rooms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  color: var(--text-primary);
  padding: 20px 0;
}

.schedule-container {
  border: 1px solid var(--border-color);
  overflow: auto;
  max-width: 1285px;
  max-height: 580px;
  position: relative;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-scroll-track);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--bg-scroll-thumb);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--bg-scroll-thumb-hover);
  }
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;

  th,
  td {
    border: 1px solid var(--border-color);
    padding: 10px;
    height: 50px;
    width: 130px;
    min-width: 130px;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }
}

// cố định hàng đầu và cột đầu
.schedule-table thead th {
  position: sticky;
  top: 0;
  background: var(--table-color);
  z-index: 1;
  color: var(--color-white);
  height: 50px;
  cursor: default;
}
.schedule-table tbody td:first-child,
.schedule-table thead th:first-child {
  position: sticky;
  left: 0;
  background-color: var(--table-color);
  z-index: 2;
  color: var(--color-white);
  cursor: default;
}

.schedule-table thead th:first-child {
  z-index: 5;
  background-color: rgb(187, 187, 183);
}

.schedule-table thead th:first-child,
.schedule-table tbody td:first-child {
  border: none !important;
  width: 90px;
  min-width: 90px;
  max-width: 90px;
}

.schedule-table tbody td:first-child {
  text-align: right;
  vertical-align: super;
  padding: 0;
  padding-right: 10px;
}

.booked-title {
  height: 100%;
  font-size: 14px;
  text-align: left;

  p {
    font-size: 13px;
    color: var(--text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .status {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-error);
  }
}

// màu lịch
.booked {
  background-color: rgba(199, 244, 255, 0.8);
  font-weight: bold;
  transition: background 0.3s ease-in-out;
  color: #fff;
}

.waiting {
  background-color: var(--color-status-waiting);
}

.completed {
  background-color: var(--color-status-completed);
}

.pending {
  background-color: var(--color-status-pending);
}

.checked_in {
  background-color: var(--color-status-checked_in);
}
