.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
  padding: 5px 0 0;
  width: 100%;
  border: 1px solid var(--bg-primary);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

// user
.user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notification {
  cursor: pointer;
}

.divider {
  height: 35px;
  width: 1px;
  background: var(--color-white);
}
