@import "../../components/GlobalStyles/GlobalStyles";

.profile-modal {
  @include modal-overlay;
}

.modal {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 470px;
  animation: fadeInModal 0.3s ease-out;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-primary);
  transition: color 0.3s;

  &:hover {
    color: var(--color-error);
  }
}

// header
.profile-header {
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;

  button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--text-primary);
    transition: all 0.3s ease;

    &:hover {
      color: var(--text-secondary);
    }
  }

  h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 4px;
  }
}

// body
.profile-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0;
  height: 345px;

  .profile-avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  .profile-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: var(--text-primary);
    margin-top: 5px;

    p,
    span {
      flex: 1;
    }
  }

  .profile-password {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: var(--text-primary);

    button {
      padding: 3px 7px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 14px;
      color: var(--text-primary);
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--bg-hover);
      }
    }
  }

  .passwordWrapper {
    position: relative;
  }

  .toggleIcon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: var(--text-secondary);
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: var(--text-primary);
    }
  }
}

// footer
.profile-footer {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;

  .cancel-btn,
  .update-btn {
    width: 20%;
  }

  .cancel-btn {
    background-color: var(--btn-danger);

    &:hover {
      background-color: var(--btn-danger-hover);
    }
  }

  .update-btn {
    background-color: var(--btn-main);

    &:hover {
      background-color: var(--btn-hover);
    }
  }

  .save-btn {
    width: 100%;
    background-color: var(--btn-edit);

    &:hover {
      background-color: var(--btn-edit-hover);
    }
  }
}
