.scheduleContainer {
  background: var(--color-white);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;

  h2 {
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 600;
  }
}

/* Bộ lọc lịch */
.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.datePicker {
  border: 1px solid var(--border-color);
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.actionButtons {
  display: flex;
  gap: 10px;
}

.actionButtons button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-main);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.actionButtons button:hover {
  background-color: var(--btn-hover);
}

/* Lịch theo tuần */
.tableWrapper {
  max-height: 540px;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-top: 10px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-scroll-track);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--bg-scroll-thumb);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--bg-scroll-thumb-hover);
  }
}

.scheduleTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;

  td {
    border: 1px solid var(--border-color);
    padding: 12px;
    font-size: 14px;
    position: relative;
    min-height: 50px;
    transition: background 0.2s ease-in-out;
    padding: 10px;
    height: 50px;
    min-width: 150px;
    cursor: pointer;
  }

  th {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
  }

  thead {
    background: var(--bg-active);
    color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

.scheduleTable thead th:first-child,
.scheduleTable tbody td:first-child {
  border: none !important;
  width: auto;
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  cursor: default;
}

.scheduleTable tbody td:first-child {
  text-align: right;
  vertical-align: super;
  padding: 0;
  padding-right: 10px;
}

/* Tô màu FULL */
.booked {
  background: rgba(255, 183, 3, 0.8);
  font-weight: bold;
  transition: background 0.3s ease-in-out;
  color: #fff;
}

/* Hiển thị title chỉ ở ô đầu tiên */
.booked-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* Cột giờ */
.timeColumn {
  font-weight: 600;
  background: #f5f5f5;
  width: 80px;
  min-width: 80px;
}

/* Ngày dưới thứ */
.date {
  font-size: 13px;
  color: var(--color-white);
  font-weight: 400;
}

// modal
// .modalOverlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.5);
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .modalContent {
//   background: white;
//   padding: 20px;
//   border-radius: 10px;
//   width: 300px;
//   text-align: center;
//   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
// }

// .modalContent button {
//   margin-top: 10px;
//   padding: 8px 15px;
//   border: none;
//   background: #007bff;
//   color: white;
//   cursor: pointer;
//   border-radius: 5px;
// }

// .modalContent button:hover {
//   background: #0056b3;
// }
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 50%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

  h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-primary);
  transition: color 0.3s;

  &:hover {
    color: var(--color-error);
  }
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  display: flex;
  justify-self: flex-end;
  gap: 7px;
  padding: 7px 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-white);
  background: var(--btn-add);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: var(--btn-add-hover);
  }
}