.main-layout-admin {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-sidebar);
  height: 100%;
  width: 210px;
  border-right: 1px solid var(--border-color);
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0 20px 0;
  height: 45px;
  width: 100%;
  background-color: var(--bg-sidebar);
  color: var(--text-primary);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-hover);
  }

  &.active {
    background: var(--bg-active);
    color: var(--color-white);
    font-weight: 500;
  }
}

// dropdown
.dropdown {
  width: 100%;

  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0;
    height: 45px;
    cursor: pointer;
    background-color: var(--bg-sidebar);
    color: var(--text-primary);

    &:hover {
      background-color: var(--bg-hover);
    }
  }

  .dropdown-menu {
    background-color: var(--bg-sidebar);
    border-radius: 5px;

    .dropdown-item {
      display: block;
      padding: 10px 16px;
      color: var(--text-primary);
      text-decoration: none;
      transition: background-color 0.1s ease;
      padding-left: 40px;

      &:hover {
        background-color: var(--bg-hover);
      }

      &.active {
        background: var(--bg-active);
        color: var(--color-white);
        font-weight: 500;
      }
    }
  }
}

