@import "../../../components/GlobalStyles/GlobalStyles";

.employee-container {
  flex: 1;
  margin: 20px auto;
  background: var(--color-white);
  padding: 0 20px;
}

// tìm kiếm
.search-container {
  display: flex;
  gap: 30px;
  align-items: center;
  background: var(--color-white);
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 300px;

  input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: 33px;
  }

  button {
    height: 33px;
    padding: 0 10px;
    background: var(--btn-add);
    color: var(--color-white);
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: var(--btn-add-hover);
    }
  }
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    min-width: 130px;
  }
}

// chức năng
.function-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  p {
    font-size: 20px;
    font-weight: 500;
  }
}

.function-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.submit-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 16px;
  font-weight: 600;
  background: var(--btn-add);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;

  &:hover {
    background: var(--btn-add-hover);
  }
}

.delete-btn {
  background-color: var(--btn-danger);

  &:hover {
    background-color: var(--btn-danger-hover);
  }

  &:disabled {
    background-color: #e0e0e0;
    color: #b0b0b0;
    cursor: not-allowed;
  }
}

// form
.form-container {
  @include modal-overlay;

  h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
  }
}

.form {
  width: 30%;
  padding: 20px;
  background: var(--color-white);
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeInModal 0.3s ease-in-out;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.form-button {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 15px;
}

// table
.table-wrapper {
  max-height: 550px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-top: 10px;

  .employee-table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    background: var(--color-white);

    thead {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    th,
    td {
      padding: 7px;
      text-align: center;
      border: 1px solid var(--border-color);
      width: 150px;
      text-align: left;
    }

    tr:hover {
      background-color: var(--bg-primary);
    }

    th {
      background-color: var(--table-color);
      color: var(--color-white);
      font-weight: 500;
      cursor: default;
      text-align: center;
    }

    td:first-child,
    th:first-child {
      width: 50px;
      text-align: center;
    }

    td:last-child,
    th:last-child {
      width: 70px;
      text-align: center;
      cursor: pointer;
    }

    td:nth-child(2),
    th:nth-child(2) {
      width: 70px;
      text-align: center;
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  input[type="checkbox"] {
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}
