.schedule {
  margin: auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;

  h3 {
    font-size: 24px;
    color: var(--text-primary);
    margin: 0;
  }

  .date-picker {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

// nút điều hướng
.week-navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;

  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #0056b3;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.calendar {
  width: 100%;

  .day {
    text-align: center;
    padding: 10px;
    background: #f5f5f5;
  }
}

// lịch
.event-item {
  background: #e3f2fd;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border-left: 5px solid #2196f3;
  text-align: left;
  cursor: pointer;

  .status {
    color: var(--color-error);
  }
}

// table
.week-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;

  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  th {
    background: #f5f5f5;
  }

  td {
    background: #fff;
    width: 150px;
    min-height: 250px;
    height: 250px;
  }

  tr {
    min-height: 300px;
  }

  th:first-child,
  td:first-child {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
  }
}

// modal
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  width: 900px;
  max-width: 90%;
  position: relative;

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.btn-update {
  background-color: #e6c449;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #cac715;
  }

  &:active {
    transform: scale(0.95);
  }
}

.modal-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.info-right,
.info-left {
  flex: 1;
}

.info-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.info-left {
  line-height: 37px;
}

.info-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-list {
  list-style: none;
  padding: 10px;
  max-height: 127px;
  overflow-y: auto;
  border: 1px solid #eee;
  border-radius: 6px;

  li {
    padding: 6px 10px;
    margin: 4px 10px;
    background-color: #f9f9f9;
    border-radius: 6px;
    font-size: 14px;
    color: #444;
  }
}

// modal update
.modal-update {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-update-content {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  width: 700px;
  height: 500px;
  max-width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.btn-update {
  background-color: #e6c449;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #cac715;
  }

  &:active {
    transform: scale(0.95);
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-primary);
  transition: color 0.3s;

  &:hover {
    color: var(--color-error);
  }
}

.modal-body {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.info-update {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  // margin-top: 20px;
}

// gợi ý người tham gia
.suggestion-box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 100;
  max-height: 200px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 10px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
  }

  button {
    float: "right";
    background: none;
    border: none;
    color: var(--color-error);
    font-size: 16px;
    cursor: pointer;
  }
}
.employee-item {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

  button {
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 13px;
    cursor: pointer;
  }
}
