@import "../../../components/GlobalStyles/GlobalStyles";

.schedule {
  margin: auto;
  padding: 0 20px;
}

.header {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 3;

  h3 {
    font-size: 24px;
    color: var(--text-primary);
    margin: 0;
  }

  .date-picker {
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

// nút điều hướng
.week-navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;

  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #0056b3;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

// lịch
.event-item {
  height: 70px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  p {
    margin: 0;
    font-size: 12px;
    color: var(--text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.status-pending {
  background: var(--color-status-pending);
  border-left: 5px solid #ffe031;
}
.status-other {
  background: var(--color-status-waiting);
  border-left: 5px solid #2196f3;
}

// ghi chú màu
.schedule-legend {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;

  .legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .legend-color {
    width: 40px;
    height: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
}

.pending {
  background-color: #ffe031;
}

.approval {
  background-color: #2196f3;
}

// table
.calendar {
  width: 100%;

  .day {
    text-align: center;
    padding: 10px;
    background: #f5f5f5;
  }

  .time-label {
    color: var(--btn-main);
    font-weight: 500;
  }
}

.week-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  table-layout: fixed;

  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    color: var(--text-primary);
  }

  th {
    background: #f5f5f5;
  }

  td {
    background: #fff;
    width: 150px;
    min-width: 150px;
    max-width: 150px;

    height: 240px;
    min-height: 240px;
    max-height: 240px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  th:first-child,
  td:first-child {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
  }
}

// modal xem chi tiết
.modal-overlay {
  @include modal-overlay;
}

.modal {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 900px;
  max-width: 90%;
  height: 600px;
  animation: fadeInModal 0.3s ease-out;

  h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.modal-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn-delete,
.btn-update {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 16px;
}

.btn-update {
  background-color: var(--btn-edit);
  &:hover {
    background-color: var(--btn-edit-hover);
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
.btn-delete {
  background-color: var(--btn-danger);
  &:hover {
    background-color: var(--btn-danger-hover);
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.btn-cancel {
  background-color: #dc3545;
  color: white;
  border: none;
  font-size: 16px;

  &:hover {
    background-color: #b02a37;
  }

  &:active {
    transform: scale(0.95);
  }
}

.modal-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.info-right,
.info-left {
  flex: 1;
}

.info-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;

  label {
    width: 70px;
    margin: 0;
  }
}

.info-left {
  line-height: 37px;
}

.info-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-list {
  list-style: none;
  height: 140px;
  overflow-y: auto;
  border: 1px solid var(--border-color);
  border-radius: 6px;

  .list-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    padding: 3px 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .edit-icon {
    color: var(--text-primary);
    cursor: pointer;
    margin: 0;
  }

  li {
    margin: 4px 10px;
    border-radius: 6px;
    font-size: 13px;
    color: var(--text-primary);
  }
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;

  .btn-update {
    background-color: var(--btn-add);

    &:hover {
      background-color: var(--btn-add-hover);
    }
  }
}

// chỉnh sửa file
.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background: #f5f5f5;
  margin: 5px 0;

  button {
    background: none;
    border: none;
    color: var(--color-error);
    font-size: 10px;
    cursor: pointer;
  }
}

// modal add participant
.modal-add-participant {
  @include modal-overlay;

  .modal-add-participant-content {
    background-color: white;
    padding: 24px;
    border-radius: 5px;
    width: 400px;
    height: 450px;
    max-width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    animation: fadeInModal 0.3s ease-out;
  }

  .modal-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

// gợi ý người tham gia
.suggestion-box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 100;
  max-height: 200px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 0 5px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
  }

  button {
    float: "right";
    background: none;
    border: none;
    color: var(--color-error);
    font-size: 16px;
    cursor: pointer;
  }
}

.employee-item {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

  button {
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 13px;
    cursor: pointer;
  }
}

// modal add service
.modal-add-service {
  @include modal-overlay;

  .modal-add-service-content {
    background-color: white;
    padding: 24px;
    border-radius: 5px;
    width: 400px;
    height: 450px;
    max-width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    animation: fadeInModal 0.3s ease-out;
  }
}

// dropdown service
.custom-dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 16px;

  .dropdown-toggle {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
  }
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 5;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.checkbox-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
  font-size: 14px;

  input[type="checkbox"] {
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}

.selected-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 250px;
  overflow-y: auto;
  border: 1px solid var(--border-color);
  border-radius: 5px;

  li {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
  }

  .remove-btn {
    color: var(--color-white);
    font-size: 13px;
    background: transparent;
    border: none;
    color: var(--color-error);
  }
}
