.price-container {
  flex: 1;
  margin: 20px auto;
  background: var(--color-white);
  padding: 0 20px;
}

// tìm kiếm
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-white);
}

.search-date {
  display: flex;
  align-items: center;
  // gap: 10px;

  label {
    width: 350px;
    margin: 0;
  }
}

// chức năng
.function-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  p {
    font-size: 20px;
    font-weight: 500;
  }
}

.function-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 7px 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.apply-btn {
  background: var(--btn-main);

  &:hover {
    background: var(--btn-hover);
  }

  &:disabled {
    background-color: #e0e0e0;
    color: #b0b0b0;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.copy-btn {
  background: #ffbb49;

  &:hover {
    background: #ffa537;
  }

  &:disabled {
    background-color: #e0e0e0;
    color: #b0b0b0;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.add-btn {
  background: var(--btn-add);

  &:hover {
    background: var(--btn-add-hover);
  }
}

// price table
.price-list {
  width: 100%;
  margin-top: 10px;
  overflow-y: auto;
  max-height: 540px;
  border: 1px solid var(--border-color);

}

.price-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    position: sticky;
    top: 0;
    background: var(--bg-active);
    z-index: 1;
  }

  th,
  td {
    padding: 8px;
    text-align: center;
    border: 1px solid var(--border-color);
  }

  tr:hover {
    background-color: var(--bg-primary);
  }

  th {
    background-color: var(--bg-active);
    color: var(--color-white);
    font-weight: 500;
  }

  .checkbox {
    display: flex;
    justify-self: center;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  .icon-info {
    cursor: pointer;
    text-align: center;
  }
}

// modal
.price-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.price-header {
  width: 50%;
  padding: 20px;
  background: var(--color-white);
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;

  h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 7px;
    text-align: center;
  }
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

// Hiệu ứng mở modal
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-primary);
  transition: color 0.3s;

  &:hover {
    color: var(--color-error);
  }
}

.price-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

// table
.table-container {
  max-width: 100%;
  overflow-y: auto;
  height: 400px;

  .price-detail-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    border-radius: 5px;

    input {
      width: 50%;
    }
  }

  thead {
    background-color: #68abf3;
    color: white;
    font-weight: bold;
  }

  thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #68abf3;
    border-bottom: 2px solid #ddd;
  }

  tbody tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s;
  }

  tbody tr:hover {
    background-color: #f1f1f1;
  }

  td,
  th {
    padding: 5px 7px;
  }

  th:nth-child(2),
  td:nth-child(2) {
    text-align: right;
  }
}

:global(.react-datepicker-popper) {
  position: absolute;
  z-index: 3 !important;
}

.price-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 20px;

  .form-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    label {
      margin: 0;
    }
  }

  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}
