.approval-list-container {
  // background-color: aliceblue;
  flex: 1;
  display: flex;
  gap: 20px;
}

.approval-list {
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);

  &__header {
    padding: 10px 0 0;
    color: var(--text-primary);
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid var(--border-color);

    p {
      margin: 0;
      font-size: 20px;
    }
  }
}

.header-actions {
  margin-top: 20px;
  display: flex;
  // gap: 10px;

  div {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      background: var(--bg-hover);
    }
  }

  .active {
    background: var(--bg-active);
    color: var(--color-white);
  }
}

.approval-detail {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  border-left: 5px solid #007bff;
}

.approval-detail h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.approval-detail p {
  font-size: 16px;
  margin: 8px 0;
  color: #555;
}

.approval-detail strong {
  color: #333;
}

.approval-detail ul {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
}

.approval-detail li {
  background: #f8f9fa;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
}

.approval-detail .room-status {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.approval-detail .room-status.available {
  background-color: #28a745;
  color: #fff;
}

.approval-detail .room-status.occupied {
  background-color: #dc3545;
  color: #fff;
}

.approval-detail .room-status.maintenance {
  background-color: #ffc107;
  color: #333;
}

.approval-detail .room-location {
  font-style: italic;
  color: #777;
}
