.approve-list {
  margin: 0 auto;
  width: 100%;
  flex: 1;
}

.no-schedule-message {
  text-align: center;
  font-size: 16px;
  color: var(--text-secondary);
  padding: 15px;
}

// search
.approve-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 10px 20px;
  background: #353231;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.device {
  height: 50px;
  width: 1px;
  background: var(--border-color);
}

.search-input {
  width: 300px;
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.search-row {
  display: flex;
  gap: 15px;
  align-items: center;

  label {
    color: var(--color-white);
  }
}

// ds lịch
.schedule-list {
  max-height: 570px;
  overflow-y: auto;
  border: 1px solid #ccc;
  // height: 570px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
}

.schedule-table th {
  background-color: #a7a2a2;
  font-weight: bold;
  text-align: center;
}

.schedule-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schedule-table tbody tr:hover {
  background-color: #e6f7ff;
}

.schedule-table td:first-child {
  text-align: center;
  vertical-align: middle;
}

.checkbox input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

// button
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  label {
    margin: 0;
    color: var(--text-secondary);
  }
}

.btn-action {
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.approve-btn {
  background-color: var(--btn-add);

  &:hover {
    background-color: var(--btn-add-hover);
  }
}

.reject-btn {
  background-color: #dc3545;
  &:hover {
    background-color: #c82333;
  }
}

.search-btn {
  background-color: var(--btn-main);
  &:hover {
    background-color: #0056b3;
  }
}
