.menu-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 47px;
  right: 0;
  width: 200px;
  background: white;
  border-radius: 5px;
  border: 1px solid #D5D9DD;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 11;
  padding: 10px 0;
}

.dropdown-header {
  padding: 0 16px;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-primary);
}

.dropdown-divider {
  height: 1px;
  background: #e5e7eb;
  margin: 6px 16px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 16px;
  font-size: 14px;
  cursor: pointer;
  color: var(--text-primary);

  .icon {
    margin-right: 8px;
    font-size: 16px;
  }

  &:hover {
    background: #f3f4f6;
  }

  &.logout {
    color: red;
  }
}
